<div class="page">
  <div class="main-area">
    <div class="area profile-area">
      <div class="title">
        <div class="title-text" #title [ngClass]="{'title-shrink': titleShrink}">ABOUT ME<span #subtitle [ngClass]="{'title-with-sub': subShow}"></span></div>
        <div class="line"></div>
      </div>

      <div class="content-area scrollbar" #scrollElement (scroll)="onScroll()">
        <div class="self-intro" scrollInView [isContinuous]="true">
          <div class="intro-text">
            Hi, I'm <span class="noto">Jessie</span>, a passionate
            <span class="noto">Software Developer</span>
            with over four years of experience in creating Web and Mobile applications.
            <br><br>
            I've had the privilege of collaborating with diverse organizations, spanning from
            <span class="noto">a software company</span> to <span class="noto">a start-up</span>, and even <span class="noto">a
              large commercial bank</span>.
            <br><br>
            Please feel free to explore some of <span class="noto link" (click)="navigate('works')">my projects</span>.
            <br><br>
            Currently, I'm a graduate student at UC Irvine, specializing in Embedded & Cyber-Physical Systems.
            <br><br>
            Outside of my coding endeavors, I'm often engrossed in language learning and traveling. 
            Meeting people from various countries and immersing myself in different cultures brings me immense joy. 
            I'm proficient in Chinese, English, and I can engage in conversational communication in Korean and Japanese.
          </div>
          <div #skills class="area">
            <div class="area-title">SKILLS</div>
            <div class="skills-list">
              <div class="skill-card">
                <div class="skill-icon"><i class="fas fa-code fa-2x"></i></div>
                <div class="skill-card-title">
                  <span class="lg-text">JavaScript/TypeScript, CSS/SCSS, HTML</span>
                  <span class="sm-text">JS/TS, CSS/SCSS, HTML</span>
                </div>
                <div class="skill-desc">
                  Accumulating 7 years of practical experience in these fields, proficiency in front-end web development has been forged through diverse projects and professional roles. Demonstrated ability to create responsive, efficient web applications with a focus on clean, maintainable code.
                </div>
              </div>
              <div class="skill-card">
                <div class="skill-icon"><i class="fa-brands fa-angular"></i></div>
                <div class="skill-card-title">Angular</div>
                <div class="skill-desc">
                  With a combined 5 years of experience from personal projects, professional work, and contributions to company initiatives. Proficient in developing new systems for organizations and providing guidance and training to junior team members.
                </div>
              </div>
              <div class="skill-card">
                <div class="skill-icon"><i class="c-sharp">C&nbsp;</i></div>
                <div class="skill-card-title">C#, .NET Core</div>
                <div class="skill-desc">
                  With four years of experience, which has included the development and maintenance of extensive websites for a financial group, along with a track record of enhancing system efficiency by 10% through fine-tuning and optimization.
                </div>
              </div>
              <div class="skill-card">
                <div class="skill-icon"><i class="fa-brands fa-python"></i></div>
                <div class="skill-card-title">Python</div>
                <div class="skill-desc">
                  Extensive experience gained through research, coursework, and personal projects. Notable Python research includes the development of an eye-tracking recommendation system using Flask and LibSVM.
                </div>
              </div>
              <div class="skill-card">
                <div class="skill-icon"><i class="c-plusplus">C&nbsp;&nbsp;</i></div>
                <div class="skill-card-title">C/C++</div>
                <div class="skill-desc">
                  Proficiency demonstrated through school projects, including the creation of a Bike Rental System and a MIPS CPU and Virtual Memory Simulator.
                </div>
              </div>
              <div class="skill-card">
                <div class="skill-icon"><i class="fas fa-database"></i></div>
                <div class="skill-card-title">SQL</div>
                <div class="skill-desc">
                  Proficient in MSSQL and MySQL databases, applied in personal side projects and contributions to company system development, with a notable application of PostgreSQL in building a map server solution.
                </div>
              </div>
            </div>
          </div>

          <div #education class="area">
            <div class="area-title">EDUCATION</div>
            <div class="edu-block">
              <div class="edu-photo">
                <img src="assets/grad.jpg" alt="Me">
              </div>
              <div class="edu-list">
                <div class="edu-timeline"></div>
                <div class="edu-desc">
                  <div class="edu-year">2023 - 2024 <span class="expected">(Expected)</span></div>
                  <div class="edu-pin current">
                    <i class="fa-regular fa-circle-dot fa-xl"></i>
                  </div>
                  <div class="edu-detail">
                    <div class="edu-detail-program">Master of Embedded and Cyber-Physical Systems</div>
                    <div class="edu-detail-school">University of California, Irvine</div>
                  </div>
                </div>
                <div class="edu-desc">
                  <div class="edu-year">2014 - 2018</div>
                  <div class="edu-pin">
                    <i class="fa-regular fa-circle-dot fa-xl"></i>
                  </div>
                  <div class="edu-detail">
                    <div class="edu-detail-program">Bachelor of Double Specialty Program of Management and Technology</div>
                    <div class="edu-detail-school">National Tsing Hua University</div>
                    <div class="edu-detail-content">
                      <div>1st specialty: Quantitative Finance</div>
                      <div>2nd specialty: Computer Science</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div #experience class="area">
            <div class="area-title">WORK EXPERIENCE</div>
            <div class="work-block">
              <div class="work-list">
                <div class="work-timeline"></div>
                <div class="work-desc">
                  <div class="work-year">2020 - 2023</div>
                  <div class="work-pin">
                    <i class="fa-regular fa-circle-dot fa-xl"></i>
                  </div>
                  <div class="work-detail">
                    <div class="work-detail-title">Full Stack Developer</div>
                    <div class="work-detail-company">Cathay United Bank (CUB)</div>
                    <div class="work-detail-content">
                      <div>Collaborated in interdisciplinary teams as an engineering representative</div>
                      <div>Led a team of 5 engineers to implement a Document Management System using Angular, .NET Core, SQL
                      </div>
                      <div>Streamlined employees’ everyday tasks by writing VBA code, reducing repetitive workloads</div>
                      <div>Managed system maintenance, fine tuning, and optimization, participating in a 24/7 on-call rotation</div>
                      <div>Recognized for exceptional performance, receiving a top 5% rating in annual performance appraisals</div>
                    </div>
                  </div>
                </div>
                <div class="work-desc">
                  <div class="work-year">2018 - 2019</div>
                  <div class="work-pin">
                    <i class="fa-regular fa-circle-dot fa-xl"></i>
                  </div>
                  <div class="work-detail">
                    <div class="work-detail-title">Research & Development Engineer</div>
                    <div class="work-detail-company">Ardomus Networks Corporation</div>
                    <div class="work-detail-content">
                      <div>Implemented a Head End System for Taipower, a state-owned power company, to manage meter data</div>
                      <div>Developed systems using Angular, Python, and MySQL, designing an ASN.1 decoder</div>
                      <div>Developed the User Interface of gateways, facilitating the integration of wire and wireless protocols</div>
                      <div>Participated in SMABIoT Exposition, May 8-10, 2019</div>
                    </div>
                  </div>
                </div>
                <div class="work-desc">
                  <div class="work-year">2018</div>
                  <div class="work-pin">
                    <i class="fa-regular fa-circle-dot fa-xl"></i>
                  </div>
                  <div class="work-detail">
                    <div class="work-detail-title">Assistant Programmer (Internship)   </div>
                    <div class="work-detail-company">Galaxy Software Services</div>
                    <div class="work-detail-content">
                      <div>Maintained systems for R.O.C. Government agency using Spring MVC & PHP</div>
                      <div>Utilized Google Analytics to analyze user behavior and enhance website performance</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
