@import '../../variables';
@import '../../mixin';

.page {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 18px;
  justify-content: center;
  .main-area {
    display: flex;
    height: 90%;
    width: 100%;
    max-width: 1300px;
    .area {
      display: flex;
      flex-direction: column;
      width: 100%;
      .title {
        font-size: 50px;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        margin-right: 80px;
        position: sticky;
        .title-text {
          transition: ease-in-out .5s;
          position: relative;
          &.title-shrink {
            font-size: 40px;
            .title-with-sub {
              color: rgba(139, 16, 75, 0.2117647059);
              font-size: 40px;
              position: absolute;
              left: 230px;
              z-index: -1;
              &::before {
                content: ' X ';
              }
            }
          }
        }
      }

      .line {
        background-color: gray;
        height: 2px;
        margin: 20px 0;
      }
    }

    .content-area {
      height: 100%;
      overflow-y: auto;
      .self-intro {
        display: flex;
        flex-direction: column;
        margin: 10px;
        .intro-text {
          .link {
            cursor: pointer;
            --s: 0.1em;   /* the thickness of the line */
            --c: #5f2626;; /* the color */

            color: #0000;
            padding-bottom: var(--s);
            background:
              linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
              linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
            -webkit-background-clip: text,padding-box;
                    background-clip: text,padding-box;
            transition: 0.5s;
          }
          .link:hover {--_p: 100%}
        }
        .area {
          margin-top: 40px;
          .area-title {
            font-weight: bold;
            font-size: 30px;
          }
          .skills-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .skill-card {
              position: relative;
              margin: 40px 15px 15px;
              min-width: 200px;
              max-width: 300px;
              background: rgb(13 68 109);
              padding: 40px 15px 15px;
              display: flex;
              flex-direction: column;
              align-items: center;
              .skill-icon {
                position: absolute;
                top: -35px;
                background: white;
                border-radius: 50%;
                width: 70px;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                i.fa-angular, i.fa-python, i.fa-database {
                  font-size: 50px;
                }
                .c-sharp {
                  font-family: sans-serif;
                  font-size: 50px;
                  font-weight: 800;
                  &::after {
                    content: '#';
                    font-size: 28px;
                    position: absolute;
                    top: 20px;
                    right: 10px;
                  }
                }
                .c-plusplus {
                  font-family: sans-serif;
                  font-size: 50px;
                  font-weight: 800;
                  &::after {
                    content: '++';
                    font-size: 20px;
                    position: absolute;
                    top: 25px;
                    right: 8px;
                  }
                }
              }
              .skill-card-title {
                color: white;
                font-weight: 900;
                font-size: 20px;
                text-align: center;
              }
              .skill-desc {
                margin-top: 10px;
                color: #ddddddd9;
                text-align: center;
              }
            }
            @include breakpoint-min-max($bp-medium, $bp-large) {
              .skill-card {
                width: 200px;
              }
            }
          }
          .map {
            position: relative;
            .year {
              background-color: #9a4e16;
              width: 80px;
              height: 80px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 20px;
              color: white;
              position: relative;
              z-index: -1;
              left: 60px;
              top: 90px;
            }
            .timeline {
              position: absolute;
              border: solid 3px #753e23;
              height: 1200px;
              left: 100px;
              z-index: -1;
              top: 100px;
            }
            .loc {
              display: flex;
              margin-bottom: 80px;
              .ex-block {
                position: relative;
              }
              .mark {
                background: #f0a05b;
                width: 600px;
                height: 250px;
                left: 100px;
                position: relative;
                margin-left: 100px;
                display: flex;
                &::before {
                  content: "";
                  left: -100px;
                  position: absolute;
                  border-right: solid #f0a05b 100px;
                  border-top: solid transparent 125px;
                  border-bottom: solid transparent 125px;
                }
                .icon {
                  position: relative;
                  left: -50px;
                  top: 100px;
                  .uci {
                    width: 100px;
                    position: relative;
                  }
                  .cub {
                    position: relative;
                    width: 80px;
                  }
                  .ardomus {
                    width: 80px;
                    position: relative;
                    top: 10px;
                  }
                  .nthu {
                    width: 80px;
                    position: relative;
                  }
                }
                .desc {
                  display: flex;
                  flex-direction: column;
                  margin: 10px;
                  .head {
                    color: white;
                    font-weight: 600;
                    font-size: 19px;
                  }
                  .sub-head {
                    font-weight: 600;
                    font-size: 15px;
                  }
                  .content {
                    margin-top: 10px;
                  }
                }
              }
            }

          }
          .edu-block {
            display: flex;
            .edu-photo {
              flex: 2;
              display: flex;
              align-items: flex-start;
              img {
                width: 100%;
              }
            }
            .edu-list {
              flex: 3;
              display: flex;
              flex-direction: column;
              position: relative;
              padding: 20px;
              .edu-timeline {
                background: black;
                width: 3px;
                height: calc(100% - 15px);
                position: absolute;
                left: 170px;
                top: 10px;
              }
              .edu-desc {
                display: flex;
                align-items: baseline;
                margin-bottom: 30px;
                .edu-year {
                  min-width: 120px;
                  .expected {
                    display: block;
                    position: relative;
                    left: 50px;
                  }
                }
                .edu-pin {
                  min-width: 50px;
                  &.current {
                    color: $dark-pink;
                  }
                }
                .edu-detail {
                  .edu-detail-program {
                    font-size: 20px;
                    font-weight: 700;
                  }
                  .edu-detail-school {
                    font-size: 18px;
                    font-weight: 600;
                    color: #757575;
                  }
                  .edu-detail-content {
                    margin-top: 15px;
                    padding-left: 20px;
                    div::before {
                      content: '-';
                      font-weight: 600;
                      margin-right: 10px;
                    }
                  }
                }
              }
            }
          }

          .work-block {
            display: flex;
            .work-list {
              display: flex;
              flex-direction: column;
              position: relative;
              padding: 20px;
              .work-timeline {
                background: black;
                width: 3px;
                height: 100%;
                position: absolute;
                left: 170px;
                top: 5px;
              }
              .work-desc {
                display: flex;
                align-items: baseline;
                margin-bottom: 30px;
                .work-year {
                  min-width: 120px;
                  .expected {
                    display: block;
                    position: relative;
                    left: 50px;
                  }
                }
                .work-pin {
                  min-width: 50px;
                  &.current {
                    color: $dark-pink;
                  }
                }
                .work-detail {
                  .work-detail-title {
                    font-size: 20px;
                    font-weight: 700;
                  }
                  .work-detail-company {
                    font-size: 18px;
                    font-weight: 600;
                    color: #757575;
                  }
                  .work-detail-content {
                    margin-top: 15px;
                    padding-left: 20px;
                    div {
                      margin-left: 16px;
                      text-indent: -16px;
                      &::before {
                        content: '-';
                        font-weight: 600;
                        margin-right: 10px;
                      }
                    }
                  }
                }

              }
            }
          }
        }
      }
    }

  }
}


@include breakpoint-min-max($bp-large, $bp-large-large) {
  .page {
    font-size: 16px;
  }
}

@include breakpoint-min-max($bp-medium, $bp-large) {
  .page {
    font-size: 16px;
    .main-area {
      .area {
        .title {
          font-size: 40px;
          .title-text{
            &.title-shrink {
              font-size: 32px;
              .title-with-sub {
                font-size: 32px;
                right: 0px;
                left: unset;
                bottom: -25px;
              }
            }
          }
        }
      }
      .content-area {
        .self-intro {
          .area {
            .edu-block {
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}

@include breakpoint-min-max($bp-small, $bp-medium) {
  .page {
    font-size: 14px;
    .main-area {
      .area {
        .title {
          margin-right: 0px;
          font-size: 30px;
          .title-text{
            &.title-shrink {
              font-size: 25px;
              .title-with-sub {
                font-size: 25px;
                right: 0px;
                left: unset;
                bottom: -25px;
              }
            }
          }
        }
      }
      .content-area {
        .self-intro {
          .area {
            .area-title {
              font-size: 24px;
            }
            .skills-list {
              .skill-card {
                min-width: 180px;
                max-width: 200px;
                margin: 20px 10px 10px;
                padding: 25px 10px 10px;
                min-width: 150px;
                .skill-icon {
                  top: -25px;
                  width: 45px;
                  height: 45px;
                  i.fa-angular, i.fa-python, i.fa-database {
                    font-size: 28px;
                  }
                  .c-sharp {
                    font-size: 28px;
                    &::after {
                      font-size: 16px;
                      top: 13px;
                      right: 8px;
                    }
                  }
                  .c-plusplus {
                    font-size: 28px;
                    &::after {
                      font-size: 13px;
                      top: 14px;
                      right: 6px;
                    }
                  }
                }
                .skill-card-title {
                  font-size: 15px;
                }
                .skill-desc {
                  margin-top: 5px;
                  font-size: 14px;
                }
              }
            }
            .edu-block {
              flex-direction: column;
              .edu-list {
                padding: 10px;
                .edu-timeline {
                  top: 30px;
                  left: 20px;
                  z-index: -1;
                }
                .edu-desc {
                  display: grid;
                  grid-template-areas:
                      "_pin _year"
                      ". _detail";
                  grid-template-columns: 30px 1fr;
                  margin-bottom: 20px;
                  .edu-year {
                    background: $bg-color;
                    z-index: 1;
                    grid-area: _year;
                    .expected {
                      left: unset;
                      display: inline;
                    }
                  }
                  .edu-pin {
                    background: $bg-color;
                    grid-area: _pin;
                  }
                  .edu-detail {
                    grid-area: _detail;
                    .edu-detail-content {
                      margin-top: 5px;
                      padding-left: 5px;
                      font-size: 14px;
                      div {
                        &::before {
                          margin-right: 3px;
                        }
                      }
                    }
                    .edu-detail-program {
                      font-size: 16px;
                    }
                    .edu-detail-school {
                      font-size: 14px;
                    }
                  }
                }
              }
            }
            .work-block {
              .work-list {
                padding: 10px;
                .work-timeline {
                  top: 30px;
                  left: 20px;
                  z-index: -1;
                }
                .work-desc {
                  display: grid;
                  grid-template-areas:
                      "_pin _year"
                      ". _detail";
                  grid-template-columns: 30px 1fr;
                  margin-bottom: 20px;
                  .work-year {
                    background: $bg-color;
                    z-index: 1;
                    grid-area: _year;
                  }
                  .work-pin {
                    background: $bg-color;
                    grid-area: _pin;
                  }
                  .work-detail {
                    grid-area: _detail;
                    .work-detail-content {
                      margin-top: 5px;
                      padding-left: 5px;
                      font-size: 14px;
                    }
                    .work-detail-title {
                      font-size: 16px;
                    }
                    .work-detail-company {
                      font-size: 14px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include breakpoint-max($bp-small) {
  .page {
    min-width: 280px;
    font-size: 14px;
    .main-area {
      .area {
        .title {
          margin-right: 0px;
          font-size: 24px;
          .title-text{
            &.title-shrink {
              font-size: 18px;
              .title-with-sub {
                font-size: 18px;
                right: 0px;
                left: unset;
                bottom: -20px;
              }
            }
          }
        }
      }
      .content-area {
        .self-intro {
          .area {
            .area-title {
              font-size: 18px;
            }
            .skills-list {
              .skill-card {
                min-width: 180px;
                margin: 20px 10px 10px;
                padding: 25px 10px 10px;
                min-width: 150px;
                .skill-icon {
                  top: -15px;
                  width: 35px;
                  height: 35px;
                  i.fa-angular, i.fa-python, i.fa-database {
                    font-size: 20px;
                  }
                  .c-sharp {
                    font-size: 20px;
                    &::after {
                      font-size: 10px;
                      top: 13px;
                      right: 8px;
                    }
                  }
                  .c-plusplus {
                    font-size: 20px;
                    &::after {
                      font-size: 8px;
                      top: 14px;
                      right: 6px;
                    }
                  }
                }
                .skill-card-title {
                  font-size: 13px;
                }
                .skill-desc {
                  margin-top: 5px;
                  font-size: 12px;
                }
              }
            }
            .edu-block {
              flex-direction: column;
              .edu-list {
                padding: 5px;
                .edu-timeline {
                  top: 30px;
                  left: 14px;
                  z-index: -1;
                }
                .edu-desc {
                  display: grid;
                  grid-template-areas:
                      "_pin _year"
                      ". _detail";
                  grid-template-columns: 25px 1fr;
                  margin-bottom: 10px;
                  .edu-year {
                    background: $bg-color;
                    z-index: 1;
                    grid-area: _year;
                    font-size: 12px;
                    .expected {
                      left: unset;
                      display: inline;
                    }
                  }
                  .edu-pin {
                    background: $bg-color;
                    grid-area: _pin;
                  }
                  .edu-detail {
                    grid-area: _detail;
                    .edu-detail-program {
                      font-size: 15px;
                    }
                    .edu-detail-school {
                      font-size: 13px;
                    }
                    .edu-detail-content {
                      font-size: 12px;
                      margin-top: 5px;
                      padding-left: 5px;
                      div {
                        margin-left: 5px;
                        text-indent: -9px;
                        &::before {
                          margin-right: 2px;
                        }
                      }
                    }
                  }
                }
              }
            }
            .work-block {
              .work-list {
                padding: 5px;
                .work-timeline {
                  top: 30px;
                  left: 14px;
                  z-index: -1;
                }
                .work-desc {
                  display: grid;
                  grid-template-areas:
                      "_pin _year"
                      ". _detail";
                  grid-template-columns: 25px 1fr;
                  .work-year {
                    background: $bg-color;
                    z-index: 1;
                    grid-area: _year;
                    font-size: 12px;
                  }
                  .work-pin {
                    background: $bg-color;
                    grid-area: _pin;
                  }
                  .work-detail {
                    grid-area: _detail;
                    .work-detail-title {
                      font-size: 15px;
                    }
                    .work-detail-company {
                      font-size: 13px;
                    }
                    .work-detail-content {
                      font-size: 12px;
                      margin-top: 5px;
                      padding-left: 5px;
                      div {
                        margin-left: 5px;
                        text-indent: -9px;
                        &::before {
                          margin-right: 2px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
