<div class="page">
  <div class="main-area">
    <div class="area profile-area">
      <div class="title">
        <div class="title-text" #title [ngClass]="{'title-shrink': titleShrink}">ABOUT ME<span #subtitle [ngClass]="{'title-with-sub': subShow}"></span></div>
        <div class="line"></div>
      </div>

      <div class="content-area scrollbar" #scrollElement (scroll)="onScroll()">
        <div class="self-intro" scrollInView [isContinuous]="true">
          <div class="intro-text">
            Hi, I'm <span class="noto">Jessie</span>, a passionate
            <span class="noto">Software Engineer</span>
            with over four years of experience in creating web and IoT applications.
            <br><br>
            I've had the privilege of collaborating with diverse organizations, spanning from
            <span class="noto">a start-up</span> to <span class="noto">a
              large commercial bank</span>.
            <br><br>
            Please feel free to explore some of <span class="noto link" (click)="navigate('works')">my projects</span>.
            <br><br>
            Currently, I'm a graduate student at UC Irvine, specializing in Embedded & Cyber-Physical Systems.
            <br><br>
            Outside of my coding endeavors, I'm often engrossed in language learning and traveling. 
            Meeting people from various countries and immersing myself in different cultures brings me immense joy. 
            I'm proficient in Chinese, English, and I can engage in conversational communication in Korean and Japanese.
          </div>
          <div #skills class="area">
            <div class="area-title">SKILLS</div>
            <div class="skills-list">
              <div class="skill-card">
                <div class="skill-icon"><i class="c-plusplus">C&nbsp;&nbsp;</i></div>
                <div class="skill-card-title">C/C++</div>
                <div class="skill-desc">
                  Proficiency demonstrated through various projects, including embedded systems development, the creation of a MIPS CPU. Additionally, I'm currently engaged in projects integrating the ESP8266 into IoT and embedded system applications, further enhancing my skill set.
                </div>
              </div>
              <div class="skill-card">
                <div class="skill-icon"><i class="fa-brands fa-python"></i></div>
                <div class="skill-card-title">Python</div>
                <div class="skill-desc">
                  Extensive experience acquired through research, coursework, and personal projects. Notable Python research includes creating an eye-tracking recommendation system using Flask and LibSVM, alongside Raspberry Pi projects focusing on IoT development and sensor interfacing.
                </div>
              </div>
              <div class="skill-card">
                <div class="skill-icon"><i class="fas fa-code fa-2x"></i></div>
                <div class="skill-card-title">
                  <span class="lg-text">JavaScript/TypeScript, CSS/SCSS, HTML</span>
                  <span class="sm-text">JS/TS, CSS/SCSS, HTML</span>
                </div>
                <div class="skill-desc">
                  Accumulating 7 years of practical experience in these fields, proficiency in front-end web development has been forged through diverse projects and professional roles. Demonstrated ability to create responsive, efficient web applications with a focus on clean, maintainable code.
                </div>
              </div>
              <div class="skill-card">
                <div class="skill-icon"><i class="fa-brands fa-angular"></i></div>
                <div class="skill-card-title">Angular</div>
                <div class="skill-desc">
                  With a combined 5 years of experience from personal projects, professional work, and contributions to company initiatives. Proficient in developing new systems for organizations and providing guidance and training to junior team members.
                </div>
              </div>
              <div class="skill-card">
                <div class="skill-icon"><i class="c-sharp">C&nbsp;</i></div>
                <div class="skill-card-title">C#, .NET Core</div>
                <div class="skill-desc">
                  With four years of experience, which has included the development and maintenance of extensive websites for a financial group, along with a track record of enhancing system efficiency by 10% through fine-tuning and optimization.
                </div>
              </div>
              
              
              <div class="skill-card">
                <div class="skill-icon"><i class="fas fa-database"></i></div>
                <div class="skill-card-title">SQL</div>
                <div class="skill-desc">
                  Proficient in MSSQL and MySQL databases, applied in personal side projects and contributions to company system development, with a notable application of PostgreSQL in building a map server solution.
                </div>
              </div>
            </div>
          </div>

          <div #education class="area">
            <div class="area-title">EDUCATION</div>
            <div class="edu-block">
              <div class="edu-photo">
                <img src="assets/grad.jpg" alt="Me">
              </div>
              <div class="edu-list">
                <div class="edu-timeline"></div>
                <div class="edu-desc">
                  <div class="edu-year">2023 - 2024 <span class="expected">(Expected)</span></div>
                  <div class="edu-pin current">
                    <i class="fa-regular fa-circle-dot fa-xl"></i>
                  </div>
                  <div class="edu-detail">
                    <div class="edu-detail-program">Master of Embedded and Cyber-Physical Systems</div>
                    <div class="edu-detail-school">University of California, Irvine</div>
                    <div class="edu-detail-content">
                      <div>GPA: 4.0/4.0</div>
                    </div>
                  </div>
                </div>
                <div class="edu-desc">
                  <div class="edu-year">2014 - 2018</div>
                  <div class="edu-pin">
                    <i class="fa-regular fa-circle-dot fa-xl"></i>
                  </div>
                  <div class="edu-detail">
                    <div class="edu-detail-program">Bachelor of Double Specialty Program with a Concentration in Computer Science</div>
                    <div class="edu-detail-school">National Tsing Hua University</div>
                    <div class="edu-detail-content">
                      <div>GPA: 3.92/4.3</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div #experience class="area">
            <div class="area-title">WORK EXPERIENCE</div>
            <div class="work-block">
              <div class="work-list">
                <div class="work-timeline"></div>
                <div class="work-desc">
                  <div class="work-year">2020 - 2023</div>
                  <div class="work-pin">
                    <i class="fa-regular fa-circle-dot fa-xl"></i>
                  </div>
                  <div class="work-detail">
                    <div class="work-detail-title">Software Engineer</div>
                    <div class="work-detail-company" (click)="website('https://www.cathaybk.com.tw/cathaybk/english/')">Cathay United Bank (CUB)</div>
                    <div class="work-detail-content">
                      <div>Participated in an interdisciplinary team, representing the engineering perspective to bridge the gap between user requirements and technical feasibility to design systems.
                      </div>
                      <div>Led a team of 5 engineers to implement a distributed system that serves conglomerate-wide users using Angular, .NET Core, SQL, and Redis.
                      </div>
                      <div>Designed a monitoring mechanism that significantly improved system stability, as confirmed by outstanding results in a satisfaction survey, which achieved an exceptional 97% satisfaction rate among 3,000 users.
                      </div>
                      <div>Implemented optimizations for system efficiency and resource utilization, addressing challenges in a resource-constrained environment.</div>
                      <div>Acknowledged as a top performer with a distinguished top 5% rating in annual performance appraisals.</div>
                    </div>
                  </div>
                </div>
                <div class="work-desc">
                  <div class="work-year">2018 - 2019</div>
                  <div class="work-pin">
                    <i class="fa-regular fa-circle-dot fa-xl"></i>
                  </div>
                  <div class="work-detail">
                    <div class="work-detail-title">Software Engineer</div>
                    <div class="work-detail-company" (click)="website('https://sites.google.com/ardomusnet.com/global/')">Ardomus Networks Corporation</div>
                    <div class="work-detail-content">
                      <div>Developed applications for gateways that connected wired and wireless protocols, facilitating the centralized control of smart home devices.</div>
                      <div>Developed applications to control smart home devices, utilizing a tech stack including Angular, Python, and MySQL and participated in the SMABIoT Exposition.</div>
                      <div>Played a pivotal role in developing a critical system designed to manage meters for a state-owned power company serving the entire country. Established a map server to generate maps dynamically, providing a visualization of the meter locations through an interactive map.</div>
                      <div>Contributed significantly to the development of an ASN.1 decoder, enhancing the system's ability to handle meter data effectively.</div>
                    </div>
                  </div>
                </div>
                <div class="work-desc">
                  <div class="work-year">2018</div>
                  <div class="work-pin">
                    <i class="fa-regular fa-circle-dot fa-xl"></i>
                  </div>
                  <div class="work-detail">
                    <div class="work-detail-title">Software Engineer (Internship)   </div>
                    <div class="work-detail-company" (click)="website('https://www.gss.com.tw/en')">Galaxy Software Services</div>
                    <div class="work-detail-content">
                      <div>Maintained systems for R.O.C. Government agency using Spring MVC & PHP</div>
                      <div>Utilized Google Analytics to analyze user behavior and enhance website performance</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
