@import '../../variables';
@import '../../mixin';

.page {
  display: flex;
  align-items: center;
  height: 100%;

  .main-area {
    display: flex;
    height: 90%;
    width: 100%;
    .area {
      display: flex;
      flex-direction: column;
      width: 100%;
      .title {
        font-size: 50px;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        margin-right: 80px;
        position: fixed;
        .title-text {
          transition: ease-in-out .5s;
        }
      }

      .line {
        background-color: gray;
        height: 2px;
        margin: 20px 0;
      }
    }

    .content-area {
      height: 100%;
      margin-top: 120px;
      overflow-y: auto;
      .self-intro {
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        .intro-text {
          .link {
            cursor: pointer;
            --s: 0.1em;   /* the thickness of the line */
            --c: #5f2626;; /* the color */

            color: #0000;
            padding-bottom: var(--s);
            background:
              linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
              linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
            -webkit-background-clip: text,padding-box;
                    background-clip: text,padding-box;
            transition: 0.5s;
          }
          .link:hover {--_p: 100%}
        }
        .area {
          margin-top: 20px;
          .area-title {
            font-weight: bold;
            font-size: 30px;
          }
          .skills-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .skill-card {
              position: relative;
              margin: 40px 15px 15px;
              width: 250px;
              background: rgb(13 68 109);
              padding: 40px 15px 15px;
              display: flex;
              flex-direction: column;
              align-items: center;
              .skill-icon {
                position: absolute;
                top: -35px;
                background: white;
                border-radius: 50%;
                width: 70px;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                i.fa-angular, i.fa-python, i.fa-database {
                  font-size: 50px;
                }
                .c-sharp {
                  font-family: sans-serif;
                  font-size: 50px;
                  font-weight: 800;
                  &::after {
                    content: '#';
                    font-size: 28px;
                    position: absolute;
                    top: 20px;
                    right: 10px;
                  }
                }
                .c-plusplus {
                  font-family: sans-serif;
                  font-size: 50px;
                  font-weight: 800;
                  &::after {
                    content: '++';
                    font-size: 20px;
                    position: absolute;
                    top: 25px;
                    right: 8px;
                  }
                }
              }
              .skill-card-title {
                color: white;
                font-weight: 900;
                font-size: 20px;
                text-align: center;
              }
              .skill-desc {
                margin-top: 10px;
                color: #ddddddd9;
                text-align: center;
              }
            }
            @include breakpoint-min-max($bp-medium, $bp-large) {
              .skill-card {
                width: 200px;
              }
            }
          }
          .map {
            position: relative;
            .year {
              background-color: #9a4e16;
              width: 80px;
              height: 80px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 20px;
              color: white;
              position: relative;
              z-index: -1;
              left: 60px;
              top: 90px;
            }
            .timeline {
              position: absolute;
              border: solid 3px #753e23;
              height: 1200px;
              left: 100px;
              z-index: -1;
              top: 100px;
            }
            .loc {
              display: flex;
              margin-bottom: 80px;
              .ex-block {
                position: relative;
              }
              .mark {
                background: #f0a05b;
                width: 600px;
                height: 250px;
                left: 100px;
                position: relative;
                margin-left: 100px;
                display: flex;
                &::before {
                  content: "";
                  left: -100px;
                  position: absolute;
                  border-right: solid #f0a05b 100px;
                  border-top: solid transparent 125px;
                  border-bottom: solid transparent 125px;
                }
                .icon {
                  position: relative;
                  left: -50px;
                  top: 100px;
                  .uci {
                    width: 100px;
                    position: relative;
                  }
                  .cub {
                    position: relative;
                    width: 80px;
                  }
                  .ardomus {
                    width: 80px;
                    position: relative;
                    top: 10px;
                  }
                  .nthu {
                    width: 80px;
                    position: relative;
                  }
                }
                .desc {
                  display: flex;
                  flex-direction: column;
                  margin: 10px;
                  .head {
                    color: white;
                    font-weight: 600;
                    font-size: 19px;
                  }
                  .sub-head {
                    font-weight: 600;
                    font-size: 15px;
                  }
                  .content {
                    margin-top: 10px;
                  }
                }
              }
            }

          }
          .edu-block {
            display: flex;
            .edu-photo {
              img {
                width: 400px;
              }
            }
            .edu-list {
              display: flex;
              flex-direction: column;
              position: relative;
              padding: 20px;
              .edu-timeline {
                background: black;
                width: 3px;
                height: 295px;
                position: absolute;
                left: 170px;
                top: 5px;
              }
              .edu-desc {
                display: flex;
                align-items: baseline;
                margin-bottom: 30px;
                .edu-year {
                  min-width: 120px;
                  .expected {
                    display: block;
                    position: relative;
                    left: 50px;
                  }
                }
                .edu-pin {
                  min-width: 50px;
                  &.current {
                    color: $dark-pink;
                  }
                }
                .edu-detail {
                  .edu-detail-program {
                    font-size: 20px;
                    font-weight: 700;
                  }
                  .edu-detail-school {
                    font-size: 18px;
                    font-weight: 600;
                    color: #4f4e4e;
                  }
                  .edu-detail-content {
                    margin-top: 15px;
                    padding-left: 20px;
                    div::before {
                      content: '-';
                      font-weight: 600;
                      margin-right: 10px;
                    }
                  }
                }
              }
            }
          }
          @include breakpoint-min-max($bp-medium, $bp-large) {
            .edu-block {
              flex-direction: column;
            }
          }

          .work-block {
            display: flex;
            .work-list {
              display: flex;
              flex-direction: column;
              position: relative;
              padding: 20px;
              .work-timeline {
                background: black;
                width: 3px;
                height: 100%;
                position: absolute;
                left: 170px;
                top: 5px;
              }
              .work-desc {
                display: flex;
                align-items: baseline;
                margin-bottom: 30px;
                .work-year {
                  min-width: 120px;
                  .expected {
                    display: block;
                    position: relative;
                    left: 50px;
                  }
                }
                .work-pin {
                  min-width: 50px;
                  &.current {
                    color: $dark-pink;
                  }
                }
                .work-detail {
                  .work-detail-title {
                    font-size: 20px;
                    font-weight: 700;
                  }
                  .work-detail-company {
                    font-size: 18px;
                    font-weight: 600;
                    color: #4f4e4e;
                  }
                  .work-detail-content {
                    margin-top: 15px;
                    padding-left: 20px;
                    div {
                      margin-left: 16px;
                      text-indent: -16px;
                      &::before {
                        content: '-';
                        font-weight: 600;
                        margin-right: 10px;
                      }
                    }
                  }
                }

              }
            }
          }
        }
      }
    }

  }
}
