.page {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;

  .main-area {
    display: flex;
    height: 80%;
    .area {
      display: flex;
      flex-direction: column;

      .title {
        transition: all .5s;
        font-size: 50px;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        margin-right: 80px;
        position: fixed;
        .title-img {
          display: flex;
          img {
            width: 300px;
          }
        }
      }

      .line {
        background-color: gray;
        height: 2px;
        margin: 20px 0;
      }
    }

    .content-area {
      height: 100%;
      margin-top: 120px;
      overflow-y: auto;
      .self-intro {
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        .intro-text {
          .link {
            cursor: pointer;
            --s: 0.1em;   /* the thickness of the line */
            --c: #5f2626;; /* the color */
            
            color: #0000;
            padding-bottom: var(--s);
            background: 
              linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
              linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
            -webkit-background-clip: text,padding-box;
                    background-clip: text,padding-box;
            transition: 0.5s;
          }
          .link:hover {--_p: 100%}
        }
        .skills {
          margin-top: 20px;
          .skills-title {
            font-weight: bold;
            font-size: 30px;
          }
          .skills-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .skill-card {
              position: relative;
              margin: 40px 15px 15px;
              width: 250px;
              background: rgb(13 68 109);
              padding: 40px 15px 15px;
              display: flex;
              flex-direction: column;
              align-items: center;
              .skill-icon {
                position: absolute;
                top: -35px;
                background: white;
                border-radius: 50%;
                width: 70px;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                i.fa-angular, i.fa-python, i.fa-database {
                  font-size: 50px;
                }
                .c-sharp {
                  font-family: sans-serif;
                  font-size: 50px;
                  font-weight: 800;
                  &::after {
                    content: '#';
                    font-size: 28px;
                    position: absolute;
                    top: 20px;
                    right: 10px;
                  }
                }
                .c-plusplus {
                  font-family: sans-serif;
                  font-size: 50px;
                  font-weight: 800;
                  &::after {
                    content: '++';
                    font-size: 20px;
                    position: absolute;
                    top: 25px;
                    right: 8px;
                  }
                }
              }
              .skill-card-title {
                color: white;
                font-weight: 900;
                font-size: 20px;
                text-align: center;
              }
              .skill-desc {
                margin-top: 10px;
                color: #ddddddd9;
                text-align: center;
              }
            }
          }
        }
      }
    }

  }
}