<div class="page">
  <div class="pic">
    <div class="name">JESSIE</div>
  </div>
  <div class="greeting">
    <div class="corner corner-one"></div>
    <div class="corner corner-two"></div>
    <div class="corner corner-three"></div>
    <div class="corner corner-four"></div>
    <div class="content">
        <p>Hey there! My name is</p>
        <p><strong>YU-CHIEH KAO</strong></p>
        <p>But you can keep it simple with</p>
        <p><strong>Jessie</strong></p>
        <p>I am a Tech Enthusiast,</p>
        <p>Full Stack Explorer.</p>
        <p>Currently, I'm pursuing my Master's at UCI's MECPS program,</p>
        <p>Exploring the world of tech!</p>
    </div>
  </div>

</div>
