<div class="page">
  <div class="pic">
    <div class="name">JESSIE</div>
  </div>
  <div class="greeting">
    <div class="corner corner-one"></div>
    <div class="corner corner-two"></div>
    <div class="corner corner-three"></div>
    <div class="corner corner-four"></div>
    <div class="content">
        <p>Hey there! My name is</p>
        <p>YU-CHIEH KAO</p>
        <p>And you can call me</p>
        <p>Jessie</p>
        <p>I am a Software Engineer,</p>
        <p>Full Stack Developer,</p>
        <p>... and just a human</p>
    </div>
  </div>

</div>
