<div class="page">
  <div class="pic">
    <div class="name">JESSIE</div>
  </div>
  <div class="greeting">
    <div class="corner corner-one"></div>
    <div class="corner corner-two"></div>
    <div class="corner corner-three"></div>
    <div class="corner corner-four"></div>
    <div class="content">
        <p>Hey there! My name is</p>
        <p><strong>YU-CHIEH KAO</strong></p>
        <p>But you can keep it simple with</p>
        <p><strong>Jessie</strong></p>
        <p>I am a Tech Enthusiast,</p>
        <p>Software Explorer.</p>
        <p>Currently, I'm pursuing my <strong>Master's at UCI's MECPS</strong> program,</p>
        <p>Embracing the tech universe with a particular love </p>
        <p>for the intricate world of <strong>embedded systems</strong>.</p>
    </div>
  </div>
</div>
