<div class="page">
  <div class="main-area">
    <div class="area profile-area">
      <div class="title">
        <div class="title-text" #title><span [ngClass]="{'my-work': more}" (click)="goBack()">MY WORKS</span><div class="subtitle" #subtitle></div></div>
        <div class="line"></div>
      </div>

      <div class="content-area scrollbar" #scrollElement>
        <div *ngIf="!more" class="works-list" scrollInView [isContinuous]="true">
          <ng-container *ngFor="let item of works">
            <a class="work" #el (click)="workOnClick(el, item.more || [])">
              <div class="frame">
                <div class="loader">
                  <span></span>
                </div>
              </div>
              <div class="work-img" [style.backgroundImage]="'url(' + item.bg + ')'"></div>
              <div class="work-cover">
                <div class="work-title">{{item.title}}</div>
              </div>
            </a>
          </ng-container>
        </div>

        <div class="work-detail" *ngIf="more">
          <div class="pic">
            <div class="images" #images>
              <i *ngIf="more.images.length > 1 && imageIdx > 1" class="fa-solid fa-angles-left fa-2x prev" (click)="prev()"></i>
              <div class="corner corner-one"></div>
              <div class="corner corner-two"></div>
              <div class="corner corner-three"></div>
              <div class="corner corner-four"></div>
              <div class="image-container" #slider>
                <img *ngFor="let image of more.images" [src]="image">
              </div>
              <i *ngIf="more.images.length > 1 && imageIdx < more.images.length" class="fa-solid fa-angles-right fa-2x next" (click)="next()"></i>
            </div>
            <div class="tags">
              <div *ngFor="let tag of more.tags" class="tag">{{tag}}</div>
            </div>
          </div>
          <div class="desc">
            <div class="tit">{{more.title}}</div>
            <div class="cont">{{more.content}}</div>
            <div class="demo" *ngIf="more.demo"><span class="link" (click)="showDemo(more.demo)">Watch Demo Video</span></div>
            <div class="github" *ngIf="more.github" (click)="showDemo(more.github)"><i class="fa-brands fa-square-github fa-xl"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
